body{
	background: lightgrey;
	color: #2F2F2F; /* darkgrey; */
	margin: 0px;
	padding: 0px;
}
h1 {
	color: black;
}
h2 {
	color: black;
}
#encabezado {
	padding: 0px 20px;
}
nav {
	margin: 0px 0px;
	padding: 10px 20px;
	background: #8F8F8F;
	border: 2px solid #6F6F6F;
}
nav li {
	list-style-type: none;
}
nav li a {
	text-decoration: none;
	color: white;
}
nav li a:hover {
	font-weight: bold;
}
nav li a.actual {
	font-style: italic;
}
#contenido_principal {
	padding: 20px;
	margin: 20px 50px 20px 50px;
	color: #3F3F3F; /* darkgrey; */
	/*background:#FBF0D9;
	color:#5F4B32;*/
}
#contenido_principal h3 {
	border-bottom: 3px solid #dd0000;
}

/*
lightgray / lightgrey	#D3D3D3	rgb(211,211,211)
silver	#C0C0C0	rgb(192,192,192)
darkgray / darkgrey	#A9A9A9	rgb(169,169,169)
gray / grey	#808080	rgb(128,128,128)

It uses #f1e7d0 under the text, and 5f5f54 in the margins/background.
In my calibre's css, I use a shade darker - EBDDB - and just brown for text.

Maybe you would like Cornsilk #FFF8DC or AliceBlue #F0F8FF.

*/